<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="MenuPin" clientResourceRelativePath="ClientResources" tags="EPiServerModulePackage">
  <dojo>
    <paths>
      <add name="menupin" path="Scripts/MenuPin" />
    </paths>
  </dojo>
  <clientModule initializer="menupin/MenuPinInit">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>
