.checkboxwidth
{
    width:80px;
}

.checkboxpadding
{
    padding: 0px 5px 0px 5px;
}

.aligncentermiddle
{
    vertical-align:middle;
    text-align:center;    
}

.checkboxarea
{
    padding: 0.9em 0em 0.9em 0em;
    border-top: 1px solid #BEBEBE;
}

.checkboxarea input
{
    vertical-align:bottom;
}


.checkboxarea label
{
    margin-right:0.8em;
    vertical-align:baseline;
}

.epi-contentArea h2
{
    font-family: Helvetica,Arial,Sans-Serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom:0.7em;
}

.buttonright 
{
    margin-left:1.5em;
    vertical-align:bottom;
}

.episize300 {width:300px;}
.episize400 {width: 400px;}
input.epi-cmsButton-tools {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 0px;
    height:18px;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    vertical-align:middle;
    width:18px;
}
input.epi-cmsButton-text {
    min-width: 20px;
    padding-left:20px;
    width:auto;
}
input.epi-cmsButton-tools {
    background-image: url("SpriteTools.png");
}
.epi-cmsButton-File {
    background-position: 0 -3776px;
}
.epi-cmsButton-Cancel {
    background-position: 0 -1062px;
}
.epi-cmsButton-Save {
    background-position: 0 -6842px;
}

span.epi-cmsButton, span.epi-cmsButtondisabled {
    background-image: url("ToolButtonBg.gif");
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #8D8D8D;
    display: inline-block;
    margin-right: 5px;
    overflow: visible;
    padding: 2px;
    white-space: nowrap;
}

input[type="text"]:disabled {
    background: #dddddd;
}
input[type=text]:enabled {
    background: #fff;
}

.row {
    overflow: hidden;
    display: flex;
    margin-bottom: 20px !important;
}
.row-normal {
    display: block;
}
.row-padding {
    padding: 15px;
}
.cell-row {
    padding: 5px 0;
    overflow: hidden;
    min-height: 24px;
}
.col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
}
.col-normal {
    display: block;
    float: left;
    padding: 0 10px;
}
.col__content {
    -webkit-align-content: center;
    align-content: center;
    padding: 10px;
}
.col-half {
    width: 50%;
}
.col-20 {
    width: 20%;
}
.col-40 {
    width: 40%;
}
.col-right-space {
    padding-right: 10px;
}
.col-left-space {
    padding-left: 10px;
}
.block-border {
    border: 1px solid #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}
.table-infor {
    padding: 15px;
}
.table-infor td {
    padding: 4px 10px 4px 0;
}
.site-infor {
    padding: 20px;
}
.site-logo {
    max-width: 100%;
    display: block;
    margin: 0 0 30px;
}
.site-link {
    display: block;
}

.input-full-width {
    display: block;
    padding: 2px 5px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.input-disable {
    background-color: gray;
}
.button-right {
    float: right;
    padding: 0 4px;
}