<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="1.1.0.8000" productName="Visitor Groups Criteria Pack" description="Set of criterion from EPiServer." tags=" EPiServerModulePackage EPiServerBetaAddon EPiServer VisitorGroupsCriteriaPack Visitor Groups Criteria Pack " version="1.1.0.8000">
  <assemblies>
    <add assembly="EPiServer.VisitorGroupsCriteriaPack" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="EPiServer.VisitorGroupsCriteriaPack" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  <clientResources></clientResources>
  <dojo>
    <paths>
      <add name="epi-criteriapack" path="ClientResources" />
    </paths>
  </dojo>
  <!--<clientModule initializer="epi.example.ExampleModule">-->
  <clientModule></clientModule>
</module>