<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="1.2.1" description="Enables editors to easily check spelling of content in the TinyMCE rich-text editor." tags=" EPiServerModulePackage EPiServerAddOn EPiServer TinyMCE SpellChecker " productName="EPiServer Spellchecker for TinyMCE" version="1.2.1">
  <assemblies>
    <add assembly="EPiServer.TinyMCESpellChecker" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{version}/Providers/{controller}/{action}">
      <defaults>
        <add key="moduleArea" value="EPiServer.TinyMCESpellChecker" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="EPiServer.TinyMCESpellChecker" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  <clientResources />
  <dojoModules />
  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources />
  </clientModule>
</module>