<?xml version="1.0" encoding="utf-8"?>
<module name="TedGustaf.Episerver.GoogleMapsEditor" clientResourceRelativePath="1.0.11.0" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="TedGustaf.Episerver.GoogleMapsEditor" />
  </assemblies>
  <dojo>
    <paths>
      <add name="googlemapseditor" path="ClientResources/googlemaps" />
    </paths>
  </dojo>
</module>