@model IPageViewModel<SitePageData>

@{ Layout = "~/Views/Shared/Layouts/_Root.cshtml"; }

@{Html.RenderPartial("Breadcrumbs", Model);}

<div class="row">
    <div class="span4">
        <div class="row">
            <div class="span4">
                @{Html.RenderPartial("SubNavigation", Model);}
                @RenderSection("RelatedContent", false)
            </div>
        </div>
    </div>
               
    <div class="span8">        	
        @RenderBody()
    </div>
</div>
