<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Marketo" maxReceivedMessageSize="1000000" maxBufferSize="1000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- The address of enpoint should update from settings in admin mode -->
      <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="Marketo"
          contract="MktowsPort" name="MktowsApiSoapPort" />
    </client>
  </system.serviceModel>
</configuration>