<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" description="Salesforce Provider for Connect for Marketing Automation services" tags=" EPiServerModulePackage EPiServerAddon EPiServer MarketingAutomationIntegration MAI Connect Salesforce Marketing Automation ConnectForMarketingAutomation " productName="EPiServer Connect for Marketing Automation - Salesforce Provider" version="2.0.0.8000">
  <assemblies>
    <add assembly="EPiServer.MarketingAutomationIntegration.Salesforce" />
  </assemblies>
</module>