<?xml version="1.0"?>
<!--TECHNOTE: this file's name should not be "EPiServer.MarketingAutomationIntegration" or "EPiServer.ConnectForMarketingAutomation" -->
<configuration>
  <configSections>
    <section name="marketingAutomationIntegration" type="EPiServer.MarketingAutomationIntegration.Configuration.MarketingAutomationIntegrationSection, EPiServer.MarketingAutomationIntegration" />
  </configSections>

  <marketingAutomationIntegration>
    <providers defaultProvider="Silverpop">
      <provider name="Silverpop" consumerKey="" consumerSecret="" type="EPiServer.MarketingAutomationIntegration.Silverpop.Implementation.SilverpopProvider, EPiServer.MarketingAutomationIntegration.Silverpop" description="Silverpop provider"/>
      <provider name="Marketo" consumerKey="" consumerSecret="" type="EPiServer.MarketingAutomationIntegration.Marketo.Implementation.MarketoProvider, EPiServer.MarketingAutomationIntegration.Marketo" description="Marketo provider"/>
    </providers>
    <setting />
  </marketingAutomationIntegration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Marketo" maxReceivedMessageSize="1000000" maxBufferSize="1000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- The address of enpoint should update from settings in admin mode -->
      <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="Marketo"
          contract="MktowsPort" name="MktowsApiSoapPort" />
    </client>
  </system.serviceModel>
</configuration>