<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="1.2.1.8000" description="Integrate EPiServer site with Marketing Automation services" tags=" EPiServerModulePackage EPiServerAddon EPiServer MarketingAutomationIntegration MAI Connect Marketing Automation ConnectForMarketingAutomation " productName="EPiServer Connect for Marketing Automation" version="1.2.1.8000">
  <assemblies>
    <add assembly="EPiServer.MarketingAutomationIntegration" />
    <add assembly="EPiServer.MarketingAutomationIntegration.Silverpop" />
    <add assembly="EPiServer.MarketingAutomationIntegration.Marketo" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="Home" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources></clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
      <!--so we can use Shell.ToResource in InitializationModule-->
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources></requiredResources>
  </clientModule>
</module>