<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="2.0.3.8000">
  <assemblies>
    <add assembly="EPiServer.MarketingAutomationIntegration" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="Home" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
      <!--so we can use Shell.ToResource in InitializationModule-->
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
    </requiredResources>
  </clientModule>
</module>