<?xml version="1.0"?>
<!--TECHNOTE: this file's name should not be "EPiServer.LiveMonitor.config"-->
<configuration>
    <configSections>
        <section name="liveMonitor" type="EPiServer.LiveMonitor.Configuration.LiveMonitorSection, EPiServer.LiveMonitor" />
    </configSections>

    <!--enableGadget [true|false]: Indicates whether the gadget component is available in Edit View.
        pushInterval [double]: Interval (in seconds) to broadcast visitor information to clients.
        visitorActiveEntryTimeout [double]: Interval (in minutes) to remove an inactive visitor from the Visitor Online list
        visitorHistoryEntryTimeout [double]: Interval (in minutes) to remove an inactive visitor from the Visitor History list
        collectingTransferTimeWindow [double]: Time window (in hours) for collecting transfers to show statistics data about transfers (From Page/To Page/Global) -->
    <liveMonitor enableGadget="false"
                 pushInterval="0.5"
                 visitorActiveEntryTimeout="2"
                 visitorHistoryEntryTimeout="5"
                 collectingTransferTimeWindow ="24">

        <themes defaultTheme="FlatLight">
            <add name="Dark" displayName="Dark" />
            <add name="FlatLight" displayName="Flat Light" />
        </themes>

        <!--Add your custom animation here, and copy the js file to 
            "$WEBROOT\appdata\Modules\EPiServer.LiveMonitor\ClientResources\Scripts\Components\Svg\Animation\Effect"
            in your addon module folder-->
        <animations defaultAnimation="Simple">
            <add name="Simple" />
            <add name="HeartBeat" />
            <add name="Satellite" />
            <add name="Vibration" />
        </animations>

        <!--By default, the route URL which clients will use to connect to your Hub should be "/signalr".
        There might be extraordinary circumstances that make this base URL not usable for SignalR;
        for example, you have a folder in your project named signalr and you don't want to change the name. 
        In that case, you can change the base URL in the OWIN Startup class app.MapSignalR("/newsignalr", new HubConfiguration());
        So you should put "/newsignalr" to signalrUrl config below-->
        <realtimeTransport signalrUrl="" />

        <!--Define the ID of content to start monitoring from-->
        <monitoringTarget contentId="1" />
    </liveMonitor>
</configuration>