<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="8.3.0.8000" description="This tool is used for visualization of visitor movements, follow the behavior of website visitors." tags=" EPiServerModulePackage EPiServerBetaAddon EPiServer LiveMonitor " productName="EPiServer Live Monitor" version="8.3.0.8000">
  <assemblies>
    <add assembly="EPiServer.LiveMonitor" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="LiveMonitor" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="LiveMonitor" path="ClientResources/EPiServer.LiveMonitor.css" resourceType="Style" />
    <add name="LiveMonitor" path="ClientResources/Scripts/trackingscript.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <paths>
      <add name="epi-livemonitor" path="ClientResources/Scripts" />
    </paths>
  </dojo>
  <clientModule initializer="epi-livemonitor.LiveMonitorModule">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="LiveMonitor" />
    </requiredResources>
  </clientModule>
</module>