<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="episerverforms" type="EPiServer.Forms.Configuration.EPiServerFormsSection, EPiServer.Forms" />
    </configSections>

<!--
    ===
        minimumAccessRightLevelToReadFormData
    ===
        Suitable values:
            NoAccess = 0,
            Read = 1,
            Create = 2,
            Edit = 4,
            Delete = 8,
            Publish = 16,
            Administer = 32,
            FullAccess = 63,
            Undefined = 1073741824
-->
    <episerverforms minimumAccessRightLevelToReadFormData="Edit"
                    sendMessageInHTMLFormat="true"
                    defaultUploadExtensionBlackList="asp,aspx,asa,ashx,asmx,bat,chm,class,cmd,com,config,dll,exe,hta,htr,htw,jse,json,lnk,mda,mdb,msc,msh,pif,printer,ps1,ps2,reg,rem,scf,scr,sct,shtm,shtml,soap,stm,svc,url,vb,vbe,vbs,vsix,ws,wsc,wsf,wsh,xamlx,htm,html,js"
                    formElementViewsFolder="~/Views/Shared/Blocks">
        <externalfeed>
            <!--id must be unique-->
            <!--cacheTimeout is in seconds-->
            <!--extraConfiguration is arbitrary string, to provide extra information for the providerType to do its job. This used to be null-->
            <!--providerType defines how we fetch items from the feed-->
            <!--<feed id="EPiServer" description="EPiServer Blog posts"
                  url="http://world.episerver.com/Blogs/?feed=RSS" providerKey="" providerSecret=""
                  keyXPath="//channel/item/link"
                  valueXPath="//channel/item/title"
                  extraConfiguration=""
                  cacheTimeout="300"
                  providerType="EPiServer.Forms.Core.ExternalFeed.DefaultFeedProvider, EPiServer.Forms" />-->
        </externalfeed>
    </episerverforms>
</configuration>