<?xml version="1.0" encoding="utf-8" ?>
<module loadFromBin="false"
        type="EPiServer.Forms.FormsModule, EPiServer.Forms"
        clientResourceRelativePath="2.1.0.2">

    <assemblies>
        <add assembly="EPiServer.Forms" />
    </assemblies>

    <routes>
        <route url="{moduleArea}/{controller}/{action}/">
            <defaults>
                <add key="moduleArea" value="EPiServer.Forms" />
                <add key="controller" value="" />
                <add key="action" value="Index" />
            </defaults>
        </route>
    </routes>

    <clientResources>
        <add name="Forms" path="ClientResources/epi-forms/themes/sleek/Forms.css" resourceType="Style" />
    </clientResources>

    <dojo>
        <packages>
            <add name="epi-forms" location="ClientResources/epi-forms" />
        </packages>
    </dojo>

    <clientModule initializer="epi-forms.FormsModule">
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
        <requiredResources>
            <add name="Forms" />
        </requiredResources>
    </clientModule>
</module>
