<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net462" />
  <package id="BVN.404Handler" version="11.1.12" targetFramework="net462" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net462" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net462" />
  <package id="DbLocalizationProvider.AdminUI.EPiServer" version="5.0.0" targetFramework="net462" />
  <package id="DbLocalizationProvider.EPiServer" version="5.0.0" targetFramework="net462" />
  <package id="DemoChannels" version="11.0.0" targetFramework="net462" />
  <package id="DotNetZip" version="1.12.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="EPiServer.AddOns.Helpers" version="0.3.0.0" targetFramework="net462" />
  <package id="EPiServer.CMS" version="11.10.6" targetFramework="net462" />
  <package id="EPiServer.Cms.AddOns.Blocks" version="2.4.1" targetFramework="net462" />
  <package id="EPiServer.CMS.AspNet" version="11.11.0" targetFramework="net462" />
  <package id="EPiServer.CMS.Core" version="11.11.0" targetFramework="net462" />
  <package id="EPiServer.CMS.TinyMce" version="2.7.1" targetFramework="net462" />
  <package id="EPiServer.CMS.UI" version="11.13.2" targetFramework="net462" />
  <package id="EPiServer.CMS.UI.AspNetIdentity" version="11.13.2" targetFramework="net462" />
  <package id="EPiServer.CMS.UI.Core" version="11.13.2" targetFramework="net462" />
  <package id="EPiServer.Find" version="13.0.5" targetFramework="net462" />
  <package id="EPiServer.Find.Cms" version="13.0.5" targetFramework="net462" />
  <package id="EPiServer.Find.Framework" version="13.0.5" targetFramework="net462" />
  <package id="EPiServer.Forms" version="4.20.0" targetFramework="net462" />
  <package id="EPiServer.Forms.Core" version="4.20.0" targetFramework="net462" />
  <package id="EPiServer.Forms.Samples" version="3.5.0" targetFramework="net462" />
  <package id="EPiServer.Forms.UI" version="4.20.0" targetFramework="net462" />
  <package id="EPiServer.Framework" version="11.11.0" targetFramework="net462" />
  <package id="EPiServer.Framework.AspNet" version="11.11.0" targetFramework="net462" />
  <package id="EPiServer.GoogleAnalytics" version="2.2.1" targetFramework="net462" />
  <package id="Episerver.GoogleMapsEditor" version="1.0.12.0" targetFramework="net462" />
  <package id="EPiServer.Labs.LanguageManager" version="3.2.0" targetFramework="net462" />
  <package id="EPiServer.Logging.Log4Net" version="2.2.2" targetFramework="net462" />
  <package id="EPiServer.Marketing.KPI" version="2.5.1" targetFramework="net462" />
  <package id="EPiServer.Marketing.Messaging" version="1.3.0" targetFramework="net462" />
  <package id="EPiServer.Marketing.Testing" version="2.5.4" targetFramework="net462" />
  <package id="EPiServer.Packaging" version="3.4.0" targetFramework="net462" />
  <package id="EPiServer.ServiceLocation.StructureMap" version="2.0.1" targetFramework="net462" />
  <package id="EPiServer.Social" version="2.3.0" targetFramework="net462" />
  <package id="EPiServer.TinyMCESpellChecker" version="2.0.0" targetFramework="net462" />
  <package id="EPiServer.VisitorGroupsCriteriaPack" version="2.0.1" targetFramework="net462" />
  <package id="Geta.SEO.Sitemaps" version="2.0.8" targetFramework="net462" />
  <package id="ImageProcessor" version="2.6.2.25" targetFramework="net462" />
  <package id="ImageProcessor.Plugins.WebP" version="1.1.0" targetFramework="net462" />
  <package id="ImageProcessor.Web" version="4.9.3.25" targetFramework="net462" />
  <package id="ImageProcessor.Web.Config" version="2.4.1.19" targetFramework="net462" />
  <package id="ImageProcessor.Web.Episerver" version="5.0.2.19600" targetFramework="net462" />
  <package id="ImageProcessor.Web.Episerver.UI" version="5.0.2.19601" targetFramework="net462" />
  <package id="LocalizationProvider" version="5.0.0" targetFramework="net462" />
  <package id="LocalizationProvider.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="LocalizationProvider.AspNet" version="5.0.0" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net462" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net462" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net462" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net462" />
  <package id="NuGet.Core" version="2.7.2" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="POSSIBLE.RobotsTxtHandler" version="4.0.0.0" targetFramework="net462" />
  <package id="PowerSlice" version="4.0.1" targetFramework="net462" />
  <package id="SocialFeedBlocks" version="1.0.1" targetFramework="net462" />
  <package id="StructureMap" version="4.7.0" targetFramework="net462" />
  <package id="structuremap.web" version="4.0.0.315" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.Security.Cryptography.Xml" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net462" />
  <package id="System.Threading.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net462" />
  <package id="WebGrease" version="1.6.0" targetFramework="net462" />
</packages>