<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" description="Silverpop Provider for Connect for Marketing Automation services" tags=" EPiServerModulePackage EPiServerAddon EPiServer MarketingAutomationIntegration MAI Connect Silverpop Marketing Automation ConnectForMarketingAutomation " productName="EPiServer Connect for Marketing Automation - Silverpop Provider" version="2.0.0.8001">
  <assemblies>
    <add assembly="EPiServer.MarketingAutomationIntegration.Silverpop" />
  </assemblies>
</module>