<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="2.1.0.8000" description="Used for multivariate testing of blocks in EPiServer CMS" tags=" EPiServerModulePackage EPiServerAddOn EPiServer EPiServer-Blocks OptimizingBlock " productName="EPiServer Self-Optimizing Block" version="2.1.0.8000">
  <assemblies>
    <add assembly="EPiServer.Cms.AddOns.Blocks" />
  </assemblies>
  <routes>
    <route controllerPrefix="EPi">
      <defaults>
        <add key="controller" value="Home" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="OptimizingBlock" path="ClientResources/epi-cms-addons-blocks/themes/sleek/packaged.css" resourceType="Style" />
    <add name="OptimizingBlock" path="ClientResources/epi-cms-addons-blocks/packaged.min.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <packages>
      <add name="epi-cms-addons-blocks" location="ClientResources/epi-cms-addons-blocks" />
    </packages>
  </dojo>
  <clientModule initializer="epi-cms-addons-blocks.BlocksModule">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="OptimizingBlock" />
    </requiredResources>
  </clientModule>
</module>