<?xml version="1.0"?>
<!--TECHNOTE: this file's name should not be "EPiServer.Labs.LanguageManager"-->
<configuration>
    <configSections>
        <section name="languagemanager" type="EPiServer.Labs.LanguageManager.Configuration.LanguageManagerSection, EPiServer.Labs.LanguageManager" />
    </configSections>

    <languagemanager>
        <machinetranslatorproviders defaultProvider="BingTranslator">
            <provider name="BingTranslator" consumerKey="" consumerSecret="" type="EPiServer.Labs.LanguageManager.Business.Providers.BingTranslatorProvider, EPiServer.Labs.LanguageManager" desc="main provider"/>
            <!--<provider name="GoogleTranslate" consumerKey="putYourAPIKeyHere" consumerSecret="putYourAPISecretHere" type="EPiServer.Labs.LanguageManager.Business.Providers.GoogleTranslateProvider, EPiServer.Labs.LanguageManager" />-->
        </machinetranslatorproviders>
        <setting />
    </languagemanager>
</configuration>