@model IList<AlloyDemoKit.Models.Pages.Blog.AuthorList>
<h3>Authors</h3>
<ul>
    <li>
        <a href="/en/blogs/nancy-khan/">Nancy Smith</a>
    </li>
    <li>
        <a href="/en/blogs/admin-/">Jacob Khan</a>
    </li>
</ul>

