.editor-map-canvas {width: 100%; height: 240px; margin: 2px 0 5px 0}
.editor-map-search {width: 408px;}
.editor-map-coordinates {width:100%}
.editor-map-clear {margin-right: 0}
.editor-map-help { float: right;width: 32px;height: 32px;display:block}