<?xml version="1.0"?>
<!--TECHNOTE: this file's name should not be "EPiServer.ContentCollaboration.config"-->
<configuration>
    <configSections>
        <section name="contentCollaboration" type="EPiServer.ContentCollaboration.Configuration.ContentCollaborationSection, EPiServer.ContentCollaboration" />
    </configSections>

    <contentCollaboration>
        <!--By default, the route URL which clients will use to connect to your Hub should be "/signalr".
        There might be extraordinary circumstances that make this base URL not usable for SignalR;
        for example, you have a folder in your project named signalr and you don't want to change the name. 
        In that case, you can change the base URL in the OWIN Startup class app.MapSignalR("/newsignalr", new HubConfiguration());
        So you should put "/newsignalr" to signalrUrl config below-->
        <!--<signalrSettings url="/nwesignalr" />-->

        <signalrSettings />

        <!--The setting for default email notificaiton-->
        <emailNotification siteUrl="" fromAddress="contentcollaboration@episerver.com" />

    </contentCollaboration>

</configuration>