<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" type="EPiServer.ContentCollaboration.ContentCollaborationModule, EPiServer.ContentCollaboration" clientResourceRelativePath="1.2.0.9000" description="This collaboration tool enables editors to be able to collaborate with other editors real-time around content." tags=" EPiServerModulePackage EPiServerBetaAddon EPiServer Content Collaboration ContentCollaboration " productName="EPiServer Content Collaboration" version="1.2.0.9000">
  <!--set "type" attribute: to load this module from the type specifies which server side class to instantiate for this module instance.-->
  <assemblies>
    <add assembly="EPiServer.ContentCollaboration" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="EPiServer.ContentCollaboration" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
  <clientResources>
    <add name="ContentCollaboration" path="ClientResources/ContentCollaboration/themes/sleek/packaged.css" resourceType="Style" />
    <add name="ContentCollaboration" path="ClientResources/ContentCollaboration/signalr/contentcollab.combined.min.js" resourceType="Script" />
    <add name="ContentCollaboration" path="ClientResources/ContentCollaboration/packaged.js" resourceType="Script" />
  </clientResources>
  <dojo>
    <packages>
      <add name="epi-contentcollaboration" location="ClientResources/ContentCollaboration" />
    </packages>
  </dojo>
  <!--<clientModule initializer="epi.example.ExampleModule">-->
  <clientModule initializer="epi-contentcollaboration.ContentCollaborationModule">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="ContentCollaboration" />
    </requiredResources>
  </clientModule>
</module>