<?xml version="1.0" encoding="utf-8"?>
<module name="ImageProcessor.Web.Episerver.UI" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="ImageProcessor.Web.Episerver" />
  </assemblies>
  <clientResources>
    <add name="ipepi-ui.styles" path="Styles/ColorPicker.css" resourceType="Style" />
    <add name="ipepi-ui.scripts" path="Scripts/Editors/ColorPicker.js" resourceType="Script" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="ipepi-ui.styles"/>
      <add name="ipepi-ui.scripts"/>
    </requiredResources>
  </clientModule>
  <dojo>
    <paths>
      <add name="ip" path="Scripts" />
    </paths>
  </dojo>
</module>