<?xml version="1.0" encoding="utf-8"?>
<module description="Adds the SiteAttention tool to the site." tags=" EPiServerModulePackage ThirdPartyAddOn SEO SiteAttention " productName="SiteAttention" version="2.5.0">
  <assemblies>
    <!-- This adds the SiteAttention assembly to the "default module" -->
    <add assembly="SiteAttentionModule" />
  </assemblies>
  <routes>
    <route controllerPrefix="SA">
      <defaults>
        <add key="moduleArea" value="siteattentionmodule" />
      </defaults>
    </route>
  </routes>
  <dojoModules>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <add name="siteattention" path="ClientResources/Scripts" />
  </dojoModules>
  <clientModule initializer="siteattention.DefaultModule"></clientModule>
</module>