<?xml version="1.0" encoding="utf-8"?>
<!--TECHNOTE: use { VersionString } (without spaces inside) as placeholder, and it will be replaced with AssemblyInfo's VersionString-->
<module loadFromBin="false" productName="Google Analytics" clientResourceRelativePath="1.7.1.8000" description="Enables editors add tracking script and view analytics data in EPiServer." tags=" EPiServerModulePackage EPiServerAddOn EPiServer GoogleAnalytics " version="1.7.1.8000">
  <assemblies>
    <add assembly="EPiServer.GoogleAnalytics" />
  </assemblies>
  <clientResources>
    <!-- TECHNOTE: use Page.ClientResources("AnalyticsAdministration") in MVC view to access resource declared in this section -->
    <add location="AnalyticsAdministration" path="ClientResources/Scripts/AnalyticsAdmin.js" resourceType="Script" />
    <add location="AnalyticsAdministration" path="ClientResources/AnalyticsAdministration.css" resourceType="Style" />
    <add location="AnalyticsContext" path="ClientResources/Scripts/Analytics.js" resourceType="Script" />
    <add location="AnalyticsContext" path="ClientResources/Analytics.css" resourceType="Style" />
    <add location="AnalyticsContext" path="ClientResources/AnalyticsContext.css" resourceType="Style" />
  </clientResources>
</module>