<section class="epi-forms-contentTypes">
    <div data-dojo-attach-point="layoutContainer" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters: false, livesplitters: false">
        <div class="epi-newContentContainer" data-dojo-attach-point="stackContainer" data-dojo-type="dijit/layout/StackContainer" data-dojo-props="region: 'center'">
            <div data-dojo-attach-point="contentTypeList" data-dojo-type="epi-forms/widget/FormsContentTypeList"></div>
        </div>
    </div>
</section>